figure {
  border-radius: 1rem;
  padding-bottom: 20px;
  img {
    background-color: rgba(255, 255, 255, 0.6);
    margin: 20px;
    border-radius: 1rem;
  }
  figcaption {
    background-color: rgba(255, 255, 255, 0.6);
    color: #000000;
    padding: 10px;
    font-size: 1em;
    font-weight: 900;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
  }
  p {
    color: #000;
    height: 475px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.electrik {
  background: linear-gradient(
    225deg,
    rgba(249, 202, 0, 1) 0%,
    rgba(249, 229, 0, 1) 48%,
    rgba(247, 254, 0, 1) 100%
  );
}

.fire {
  background: linear-gradient(
    225deg,
    rgba(239, 77, 59, 1) 0%,
    rgba(237, 101, 63, 1) 48%,
    rgba(239, 134, 79, 1) 100%
  );
}

.grass {
  background-image: linear-gradient(
    225deg,
    rgba(124, 182, 81, 1) 0%,
    rgba(166, 207, 75, 1) 48%,
    rgba(181, 211, 75, 1) 100%
  );
}

.psy {
  background: linear-gradient(
    225deg,
    rgba(168, 29, 137, 1) 0%,
    rgba(195, 115, 183, 1) 48%,
    rgba(215, 182, 220, 1) 100%
  );
}

.water {
  background: linear-gradient(
    225deg,
    rgba(13, 159, 230, 1) 0%,
    rgba(82, 181, 222, 1) 48%,
    rgba(168, 218, 252, 1) 100%
  );
}
